body { /* the grit */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  place-items: center;
}

img{
  pointer-events: none;
  user-select: none;
}

label > div{ /* each small item you can buy */
  display: grid;
  grid-template-columns: auto 120px auto;
  margin-bottom: 10px;
  background: linear-gradient(0deg, rgb(255, 118, 0) 18%, rgb(54, 46, 171) 80%, rgb(0,0,0) 96%);
  border-radius: 0 0 110px 110px;
}

input{
  display: none;
}

input:checked ~ div > svg{
  display: block;
}

label > div *{
  font-size: 1.5em;
  margin: 0;
}

label > div > h1{ /* left eye */
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

label > div > h2{ /* right eye */
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

label > div > h3{ /* face */
  grid-column: 2 / 2;
  grid-row: 2 / span 3;
}

label > div > section{ /* burger container */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  margin-top: 111px;
}

label > div > section > *{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

label > div > section h1{ /* SVG plate */}

label > div > section h2{ /* food */
  align-self: end;
}

label > div > section h3{ /* hand l */
  align-self: center;
  z-index: 9;
}

label > div > section h4{ /* hand r */
  justify-self: end;
  align-self: center;
  z-index: 9;
}

label > div > svg{ /* lazer container */
  display: none;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

label > div > svg > line{
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

label > div > svg > line:nth-child(1), label > div > svg > line:nth-child(2), label > div > svg > line:nth-child(3), label > div > svg > line:nth-child(4), label > div > svg > line:nth-child(5){ /* lazers beams*/
  animation-name: lazers_1;
  
}

label > div > svg > line:nth-child(6), label > div > svg > line:nth-child(7), label > div > svg > line:nth-child(8), label > div > svg > line:nth-child(9){
  animation-name: lazers_2;
}

label > div > section:hover h2, label > div > section:hover h1{ /* hover food */
  animation: rotate 10s linear infinite;
  animation-play-state: running;
}

label > div > section:hover h4{ /* hover hand R */
  margin-right: -10px;
}

label > div > section:hover h3{ /* hover hand L */
  margin-left: -10px;
}

@keyframes rotate{
  from {transform: rotate(0deg); }
  to   {transform: rotate(360deg); }
}

@keyframes lazers_1{
  0%   {stroke: red; stroke-width: 2;}
  12%  {stroke-width: 0;}
  25%  {stroke: orange; stroke-width: 2;}
  38%  {stroke-width: 0;}
  50%  {stroke: yellow; stroke-width: 2;}
  62%  {stroke-width: 0;}
  75%  {stroke: orange; stroke-width: 2;}
  88%  {stroke-width: 0;}
  100% {stroke: red; stroke-width: 2;}
}

@keyframes lazers_2{
  0%   {stroke: red; stroke-width: 0;}
  12%  {stroke-width: 2;}
  25%  {stroke: orange; stroke-width: 0;}
  38%  {stroke-width: 2;}
  50%  {stroke: yellow; stroke-width: 0;}
  62%  {stroke-width: 2;}
  75%  {stroke: orange; stroke-width: 0;}
  88%  {stroke-width: 2;}
  100% {stroke: red; stroke-width: 0;}
}

@media (max-width: 460px) {
  body {
    grid-template-columns: auto;
  }
}

@media (min-width: 461px){
  body {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 679px){
  body {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 897px){
  body {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1115px){
  body {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media (min-width: 1332px){
  body {
    grid-template-columns: auto auto auto auto auto auto;
  }
}