flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

menu_item{
  display: grid;
  grid-template-columns: auto 120px auto;
  grid-template-rows: auto auto;
  background-color: brown;
}

eye_l{
  text-align: right;
}

eye_r{
  grid-column-start: 3;
  grid-column-end: 3;
}

face{
  align-self: top;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 3;
}

hand_l{
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 111px;
}

plate{
  align-self: end;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 111px;
}

burger{
  align-self: end;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 111px;
}

hand_r{
  justify-self: end;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin-top: 111px;
}