flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

menu_item{
  display: grid;
  grid-template-columns: auto 120px auto;
  grid-template-rows: auto auto;
  background-color: brown;
}

eye_l{
  text-align: right;
}

eye_r{
  grid-column-start: 3;
  grid-column-end: 3;
}

face{
  align-self: top;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 3;
}

plate{
  align-self: end;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

burgerContainer{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-top: 111px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

burgerContainer:hover burger{
  animation: rotate 10s linear 1;
  animation-play-state: running;
}

burgerContainer:hover plate{
  animation: rotate 10s linear 1;
  animation-play-state: running;
}

@keyframes rotate{
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg); }
}

hand_l{
  align-self: center;
  z-index: 1000;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

burger{
  align-self: end;
  z-index: 999;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

hand_r{
  justify-self: end;
  align-self: center;
  z-index: 1000;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}